/* .ant-collapse .ant-collapse-item {
  padding: 0;
  border-width: 0;
  background-color: transparent;
}


*/
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  border-width: 0;
}

.ant-collapse-borderless > .ant-collapse-item:last-child,
.ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
  border-width: 0;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background: white;
}
.ant-collapse .anticon.anticon-right.ant-collapse-arrow {
  display: none;
}

.ant-collapse-item {
  display: flex;
  flex-direction: column-reverse;
}

.ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding-top: 4px;
  background: white;
}
