body {
  font-size: 400%;
}

nav {
  background: white;
}

.leaflet-container {
  height: 100% !important;
  width: auto !important;
  position: relative;
}

button {
  outline: none !important;
}

.pick-edit-or-log {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ant-checkbox-wrapper {
  display: flex;
  align-items: center;
}

.ant-checkbox-inner::after {
  top: 40%;
  left: 24%;
  display: table;
  width: 10.71428571px;
  height: 19.14285714px;
}

.ant-checkbox-inner {
  width: 32px;
  height: 32px;
}

.ant-checkbox-wrapper span {
  font-size: 36px;
}
